<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <form class="form-box" action="/delete_company_info" method="post">
        <h4>회사 ID</h4>
        <input name="회사_id">
        <button type="submit">전송</button>
    </form> 

</body>
</html>